# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://user:password@localhost:5432/expensesPrisma?schema=public"
JWT_SECRET="9dfe9b16-d310-4eeb-931a-c0f67ffa5744"
JWT_EXPIRES_IN='1d'
